doctype html
html
  head
    title Agenda
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
      nav
        div(class="nav-wrapper")
            a(class="brand-logo") Logo
            ul(id="nav-mobile" class="right hide-on-med-and-down")
                li
                    a(href="/nombres") Ir a lista
                li
                    a(href="/autenticar") LOGIN
                    
block content          
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/knockout/knockout-latest.js')    
    script(src='/javascripts/inic.js')
